.container {
  scrollbar-gutter: stable;
  overflow-y: auto;
  width: 100%;
  height: 92vh;
  padding-bottom: 1rem;
  background-color: #f9f9f9;
}

.plus-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease;
}

.plus-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.plus-button-icon {
  width: 2rem;
  height: 2rem;
  color: white;
}

.feed-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 1rem auto;
  gap: 1rem;
}

.post {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #fff;
}

.post-header {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.post-content {
  cursor: pointer;
  padding: 0.1rem 1rem;
}

.post-footer {
  display: flex;
  padding: 1rem 1rem;
  border-top: 1px solid #ccc;
  gap: 2rem;
}

.action-button {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  transition: background-color 0.2s ease;
}

.action-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.liked-button {
  margin-top: 1px;
  width: 1rem;
  height: 1rem;
  color: var(--primary-color);
}

.action-button-icon {
  margin-top: 1px;
  width: 1rem;
  height: 1rem;
}

.post:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.post-title {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}

.avatar {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.post-metadata {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: transparent;
}

.post-descriptor {
  display: flex;
  flex-direction: column;
}

.post-author {
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.post-time {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.search-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  height: 26px;
  padding: 1.25rem 0.4rem 1.25rem 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  margin: 2rem auto;
  align-items: center;
  background-color: #fff;
}

.search-container:focus-within {
  outline: 2px solid var(--primary-color);
}

.search-bar {
  height: 26px;
  width: 100%;
  font-size: 18px;
  outline: none;
  border: none;
  font-family: inherit;
}

.search-button {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.search-icon {
  color: black;
  height: 20px;
  width: 20px;
}