.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  background-color: rgba(250, 250, 250, 1);
}

.register_form {
  display: flex;
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  border-radius: 4px;
  padding: 1rem 2rem;
  background-color: #FFF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register_form p {
  font-weight: bold;
  font-size: 24px;
  margin: 0 0;
  padding: 0 0;
}

.register_form label {
  margin-top: 4px;
  margin-bottom: 2px;
}

.register_form input {
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 4px;
  padding: 8px;
  margin-top: 2px;
  margin-bottom: 10px;
}

.register_form button {
  border: 1px solid #ccc;
  background-color: #57068c;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  padding: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 8px;
}
