.navbar {
  min-width: 100%;
  height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 0.25rem 2rem;
  align-items: center;
}

.navbar_title {
  color: white;
  font-weight: bold;
  background: none;
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-size: 20px;
  padding: 0;
  font-family: inherit;
  line-height: inherit;
}

.navbar_links {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
}

.navbar_link, .navbar_button {
  color: white;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-weight: 500;
  font-size: 18px;
  padding: 0.5rem 1.15rem;
  font-family: inherit;
  line-height: inherit;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
}

.navbar_link:focus, .navbar_button:focus {
  outline: 2px solid white;
}

.navbar_link:hover, .navbar_button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}