:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #57068c;
  --secondary-color: #fff;
  --background-color: #f9f9f9;
  --foreground-color: #fff;

}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #121212;
  }
}

html, body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}